CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode
.clangd
build
__pycache__

lib/*
!lib/*.*
output/
run/
demo/
utils/.ipynb_checkpoints
.cache